@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
.App {
  border: 1px solid lightgray;
  border-radius: 8px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  font-family: "Nunito", sans-serif;
  color: #707579;
}
.App h1 {
  font-size: 28px;
}
.App .temp {
  line-height: 80%;
  color: #2d2d2d;
}

.App li {
  list-style: none;
  padding-left: 30px;
  font-size: 13px;
}

.App .units {
  position: relative;
  left: 30px;
}
.App .forecast-value {
  font-weight: bold;
}
.App .weather-description {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 20px;
}
.App i {
  margin: 30px auto;
  color: #2d2d2d;
  font-size: 50px;
}
.App .description-icon {
  height: 90px;
}
.App .symbol {
  text-decoration: none;
  color: #0d6efd;
}
